<!-- <p style="margin-top:100px"> <b>  Aniket Daw </b> </p> -->

<div>
           <style type="text/css">
              .header_border_bottom{
                 border-bottom:1px solid #e5e5e5;
              }
           </style>
        </div>

<div id="mobile_view_opacity" onclick="off_opacity()">
    <div class="wrapper body-bg">
        <div class="wrapper body-bg" style="padding:0px 15px">
        <div class="all_page_middle_div">
                <ol class="breadcrumb breadcrumb-list all_page_bitcome">
                    <li class="breadcrumb-item"><a href="/yewmed/" class="everypge_topic_a">Home</a></li>
                    <li class="breadcrumb-item active" style="cursor:default">Error Page</li>
                </ol>
        </div>
        </div>
        <div class="login white-bg ptb-80">
            <div class="container" style="text-align:center">
                        <p style="max-width:450px;display:inline-block"> <img src="themes/img/404Error_new.png" style="width:100%;height:100%"> </p> <br>
                        <h1 style="font-family:'Poppins', sans-serif;margin-top:20px;text-transform:capitalize;"> ooops! This page is giving 404 error. </h1>
                        <p style="font-size:20px;line-height:30px;margin-top:10px"> The page you are looking for can't be found .  Go back to <a href="/yewmed/" style="color:#f26222;font-weight:700"> Home Page </a> </p>
                      </div>  
                 </div>
                 
            </div>
        </div>
        