<div ng-controller="UserController as logctrl">
  <div class="wrapper body-bg">
    <div class="breadcrumb-area">
      <div class="container">
        <ol class="breadcrumb breadcrumb-list">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="account.html">Account</a></li>
          <li class="breadcrumb-item active">register</li>
        </ol>
      </div>
    </div>
    <div class="register-area white-bg ptb-80">
      <div class="container">
        <h3 class="login-header">Create an account </h3>
        <div class="row">
          <div class="offset-xl-2 col-xl-10">
            <div class="register-form login-form clearfix">
              <!-- <form action="#"> -->
                hduyytk
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>