<!-- <p style="margin-top:100px"> <b>  Aniket Daw </b> </p> -->

<div>
    <div class="wrapper body-bg mobile_view_opacity" onclick="off_opacity()">

        <div>
           <style type="text/css">
              .header_border_bottom{
                 border-bottom:1px solid #e5e5e5;
              }
           </style>
        </div>

       <!--  <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="/yewmed/">Home</a></li>
                    <li class="breadcrumb-item"><a href="terms-conditions">Terms & Conditions</a></li>
                </ol>
            </div>
        </div> -->

        <div style="padding:10px 15px"> 
            <div class="all_page_middle_div">
                <ol class="breadcrumb breadcrumb-list all_page_bitcome">
                    <li class="breadcrumb-item"><a href="{{contextpath1}}" class="everypge_topic_a">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">shop</a></li> -->
                    <li class="breadcrumb-item active" style="cursor:default">Delivery Policy</li>
                </ol>
            </div>
        </div>


        <div class="all_page_middle_div_above">
            <div class="all_page_middle_div">
                <h3 class="register-header" style="margin-bottom:10px"> DELIVERY POLICY </h3>
                <div class="terms_cond_1st_div">
                     <h3 style="margin-top:40px"> How much are the delivery charges? </h3> 
                     <p>
                      <b>YewMedMart</b> giving you free delivery on online purchase. <br>
                      For Cod We are taking 50 Deliver Charge upto 500/-. Above 500 rupees purchase we are giving free delivery
                  </p>
                </div>

                <div class="terms_cond_1st_div">
                     <h3> COD Charges Policy </h3> 
                     <p>
                      If you don't want to use online purcahse you can use COD. <br>
                      We are not giving any discount on COD purchase. <br>
                      We are giving free delivery above 500/- purchase. Below 500 we ae taking 50 rupees as a delivery charge. <br>
                      We are accepting only Indian currency in COD purchase. <br>
                      In COD Purchase we don't accept any kind of Debit/Credit Card or any Bank Transaction. <br>
                      The COD option is available for selected location only.
                  </p>
                </div>

                <div class="terms_cond_1st_div">
                     <h3> ONLINE Charges Policy </h3> 
                     <p>
                      You can ONLINE purcahse instead of Cod. <br>
                      We are giving 20% discount on ONLINE purchase. <br>
                      We are giving free delivery for ONLINE purchase. <br>
                      We accept any kind of Debit/Credit Card or any Bank Transaction for ONLINE purchase. <br>
                      The ONLINE Purchase option is available for all location. 
                    </p>
                </div>

                <div class="terms_cond_1st_div">
                   <h3> What is the estimated delivery time? </h3> 
                   <p>
                    For WEST BENGAL Location we will deliver within 2-3 days. <br>
                    For outside WEST BENGAL we will deliver within 7 days. <br>
                    Before your delivery we will send a sms to your registered mobile no.
                   </p>
                </div>


                <div class="terms_cond_1st_div">
                   <h3> Cancellation by YewMedMart </h3>
                   <p>
                    Please note may be for certain order we will cancel your order due to insufficient stock. For that case If you purchase through ONLINE we will return amount to your bank account from where you purchased within 3 days.
                   </p>
                </div>


                <div class="terms_cond_1st_div">
                   <h3> Cancellations by the Customer </h3>
                   <p>
                    You have to cancel before your delivery would be shipped. For ONLINE purchase we will return your paid amount to your Bank Account from where you purchased within 7 days.
                   </p>
                </div>


            </div>
        </div>
    </div>
</div>
        