<div ng-controller="ForgotpasswordController as forgotctrl" class="mobile_view_opacity" onclick="off_opacity()">
  <div>
           <style type="text/css">
              .header_border_bottom{
                 border-bottom:1px solid #e5e5e5;
              }
           </style>
        </div>


    <div class="container-fluid">
        <!-- <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="/yewmed/">Home</a></li>
                    <li class="breadcrumb-item"><a href="Forgotpassword">Forgot Password</a></li>
                </ol>
            </div>
        </div> -->

        <div class="all_page_middle_div">
                <ol class="breadcrumb breadcrumb-list all_page_bitcome">
                    <li class="breadcrumb-item"><a href="{{contextpath1}}" class="everypge_topic_a">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">shop</a></li> -->
                    <li class="breadcrumb-item active" style="cursor:default">Forgot Password</li>
                </ol>
            </div>
       

            <div>
                      
             <!-- .......................Start Form....................... -->         
             		<div style="text-align:center;padding:0px 0px 30px 0px">
                        
                        <div class="forgot_password_div"> 
	                         <form style="padding:50px;border:1px solid #9292922e" ng-submit="forgotctrl.forgotpasswordSubmit()" name="forgotForm">
	                         	<!-- <h4 style="text-align:center;padding:10px 0px;background:#F37D22;color:white;text-transform: capitalize"> Reset Password  </h4> --> 
                            
                            <h3 style="text-align:center;color:#000000;font-weight:700;text-transform:capitalize;font-family:'Poppins', sans-serif;font-size:39px"> Reset Password </h3>

                           
	                           <p style="margin-top:52px;font-size:14px;text-align:left;color:black"> Password </p>
	                         		 <p style="text-align:left;border:2px solid #d9d9d9;padding:7px 15px 5px 15px">
                              <input type="password" style="border:0px;width:90%" name="password" id="password" ng-model="forgotctrl.forgot.password" placeholder="Enter Your password" ng-change="passwordCheck()" required required ng-attr-type="{{ showPassword ? 'text':'password'}}"> 
                              <span style="cursor:pointer;float:right;margin-top:6px;margin-right:5px" ng-click="toggleShowPassword()" ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}"></span> 
	                         		   </p> 
	                         		<div class="has-error" ng-show="forgotForm.password.$invalid" style="text-align:center">
			                            <span style="color:red" ng-show="forgotForm.password.$error.required && forgotForm.password.$touched">password is required</span>
			                             <!-- <span style="color:red" ng-show="forgotForm.emailid.$invalid && forgotForm.emailid.$touched && !forgotForm.emailid.$error.required">password is invalid </span>
			                             <span class="red-text" ng-show="inquiryForm.email.$error.pattern">Invalid Email</span> -->
		                      		</div>
                           

                            <p style="margin-top:22px;font-size:14px;text-align:left;color:black"> Reset Password </p>
                              <p style="text-align:left;border:2px solid #d9d9d9;padding:7px 15px 5px 15px">  
                              <input type="password" style="border:0px;width:90%" name="confirmpassword" id="confirmpassword" ng-model="confirmpassword" placeholder="Enter Your confirm password" ng-change="passwordCheck()" required ng-attr-type="{{ showconPassword ? 'text':'password'}}">
                              <span style="cursor:pointer;float:right;margin-top:6px;margin-right:5px" ng-click="toggleShowconPassword()" ng-class="{'fa fa-eye': showconPassword,'fa fa-eye-slash': !showconPassword}"></span>  
                            </p>
                                
                              <div class="has-error" ng-show="forgotForm.confirmpassword.$invalid" style="text-align:center">
                                  <span style="color:red" ng-show="forgotForm.confirmpassword.$error.required && forgotForm.confirmpassword.$touched">Confirm pasword is required</span>
                              </div>
                              <p style="text-align:center;font-size:15px"><span id="check_pswrd_match"> </span></p>
	                         		 <br> <br>
                               <button type="submit" id="resetpswd_button_id" class="login-btn" ng-disabled="forgotForm.$invalid || confirm_pswd_check_value == 'false'"> Set New Password
                              </button>
	                         	<!-- <p style="text-align:center"> <button type="submit" class="btn-success forgotpassword_button" ng-disabled="forgotForm.$invalid" disabled="disabled"> Set New Password </button> </p> -->
								<p style="font-size:17px;color:green;text-align:center"> {{succMsg}} </p>
	                         </form>
                        </div> 
                    </div>     


             <!-- .............................End Form............................. -->            
                            
                      </div>  
            
                 
            </div>
        </div>
        