<div>
    <div class="wrapper body-bg">
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{{contextpath1}}">Home</a></li>
                    <li class="breadcrumb-item"><a href="account.html">Account</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ol>
            </div>
        </div>
        <div class="login white-bg ptb-80">
            <div class="container">
              <h3 class="login-header">Log in to your account </h3>
               <div class="row">
                   <div class="col-lg-6 offset-lg-3">
                        <div class="login-form">
                            <form>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                        <button class="btn show-btn" type="button">Show</button>
                                    </div>
                                </div>
                                <div class="login-details text-center mb-25">
                                    <a href="forgot-password.html">Forgot your password? </a>
                                    <button type="submit" class="login-btn">Sign in</button>
                                </div>
                                <div class="login-footer text-center">
                                    <p>No account? <a href="register.html">Create one here</a></p>
                                </div>
                            </form>
                        </div>
                   </div>
               </div>
            </div>
        </div>
        <div class="subscribe-area">
            <div class="container">
                <div class="subscribe-content  offset-lg-6  text-center">
                    <h6><span>special ofers</span> for subscribers</h6>
                    <h2>ten percent member discount</h2>
                    <p>Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers.</p>
                    <div class="newsletter-box">
                        <form action="#">
                            <input class="subscribe" placeholder="your email address" name="email"  type="email">
                            <button type="submit" class="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="online-support">
            <div class="container">
                <div class="row">                    
                     <div class="col-lg-4">
                        <div class="single-support mb-all-30">
                            <div class="support-img">
                                <img src="/yewmed/img/icons/s1.png" alt="support-img">
                            </div>
                            <div class="support-desc">
                                <h4>Free delivery</h4>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-support mb-all-30">
                            <div class="support-img">
                                <img src="/yewmed/img/icons/s2.png" alt="support-img">
                            </div>
                            <div class="support-desc">
                                <h4>money guarantee</h4>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-support">
                            <div class="support-img">
                                <img src="/yewmed/img/icons/s3.png" alt="support-img">
                            </div>
                            <div class="support-desc">
                                <h4>online support</h4>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Online Support Area End Here -->
        <!-- Footer Area Start Here -->
        <footer class="footer-area dark-blue-bg ptb-80 mtm-80">
            <div class="footer-top">
                <div class="container">
                    <div class="row mt-80">
                        <!-- Single Footer Start Here -->
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer mb-all-40">
                                <div class="footer-logo mb-30">
                                    <a href="index.html"><img src="/yewmed/img/logo/logo.png" alt="logo-image"></a>
                                </div>
                                <div class="footer-content">
                                    <p>Welcome to the one of the world's best known company in the industry! We are committed to the highest quality, reliability, responsibility, continuous improvement and strive to build long-term relationships with our clients.</p>
                                    <ul class="footer-link">
                                        <li><a href="#">Orders</a></li>
                                        <li><a href="#">Useprivacy</a></li>
                                        <li><a href="#">Policy</a></li>
                                        <li><a href="#">Personal info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer End Here -->
                        <!-- Single Footer Start Here -->
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="single-footer mb-sm-40">
                                <div class="footer-content">
                                    <h3>Products</h3>
                                    <ul class="footer-list">
                                        <li><a href="#">Prices drop</a></li>
                                        <li><a href="#">Our new productsy</a></li>
                                        <li><a href="#">best sales</a></li>
                                        <li><a href="#">contact us</a></li>
                                        <li><a href="#">stroes</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer End Here -->
                        <!-- Single Footer Start Here -->
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="single-footer">
                                <div class="footer-content">
                                    <h3>Our Company</h3>
                                    <ul class="footer-list">
                                        <li><a href="#">delivery</a></li>
                                        <li><a href="#">legal notice</a></li>
                                        <li><a href="#">terms & conditins</a></li>
                                        <li><a href="#">about us</a></li>
                                        <li><a href="#">security payment</a></li>
                                        <li><a href="#">sitemap</a></li>
                                        <li><a href="#">my account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer End Here -->
                        <!-- Single Footer Start Here -->
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer">
                                <div class="footer-content text-lg-right">
                                    <h4>follow us</h4>
                                    <ul class="social-footer d-flex justify-content-lg-end mb-40">
                                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <h4>Payment Methods</h4>
                                    <a href="#"><img class="img" src="/yewmed/img/footer/payment.png" alt="payment-image"></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer End Here -->
                    </div>
                    <!-- Row End -->
                </div>
            </div>
            <!-- Footer Top End -->
            <div class="footer-bottom pt-30 ">
                <div class="container">
                    <div class="copyright text-center text-md-left">
                        <p class="copyright-text">Copyright ©  <a href="#">Aboss</a> All Rights Reserved</p>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer Area End Here -->
    </div>
</div>