<!-- <p style="margin-top:100px"> <b>  Aniket Daw </b> </p> -->

<div class="mobile_view_opacity" onclick="off_opacity()">

   <div>
           <style type="text/css">
              .header_border_bottom{
                 border-bottom:1px solid #e5e5e5;
              }
           </style>
        </div>


    <div class="container-fluid">
       <!--  <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="/yewmed/">Home</a></li>
                    <li class="breadcrumb-item"><a href="terms-conditions">Terms & Conditions</a></li>
                </ol>
            </div>
        </div> -->

       <div class="all_page_middle_div">
                <ol class="breadcrumb breadcrumb-list all_page_bitcome">
                    <li class="breadcrumb-item"><a href="{{contextpath1}}" class="everypge_topic_a">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">shop</a></li> -->
                    <li class="breadcrumb-item active" style="cursor:default">Privacy Policy</li>
                </ol>
            </div>


        <div class="all_page_middle_div">
            <div>
                <h3 class="register-header" style="margin-bottom:10px"> PRIVACY POLICY </h3>
                <div class="terms_cond_1st_div"> 
                    <p>Please read this privacy policy carefully by accessing or using the website, you agree to be bound by the terms described herein and all the terms incorporated by reference. If you do not agree to all of these terms, do not use the website.  
                    </p>
                </div>

                <div class="terms_cond_1st_div">
                     <h3> Content & Purpose: </h3> 
                     <p>
                        This privacy policy (“Privacy Policy”) applies to your use of the domain name www.yewedmart.in, an internet based portal, and owned and operated by , a company duly incorporated under the provisions of the Companies Act, 2013 (hereinafter, referred to as “<b>YewMedMart</b>” or “We” or “Our” or “Us” or “Company”). The domain name and the mobile application are collectively referred to as “Website”.
                    </p>
                    <p>
                        The Website is a platform that facilitates the purchase of pharmaceutical products for sale by various relevant pharmacies (hereinafter referred to as “Services”, with the relevant pharmacies referred to as “Sellers”). The arrangement between the Sellers and <b>YewMedMart</b> shall be governed in accordance with this Privacy Policy and the Terms of Use. The Services would be made available to such natural persons who have agreed to become buyers on the Website after obtaining due registration, in accordance with the procedure as determined by <b>YewMedMart</b>, from time to time (referred to as “You” or “Your” or “Yourself” or “User”, which terms shall also include natural persons who are accessing the Website merely as visitors). The Services are offered to the Users through various modes which shall include issue of discount coupons and vouchers that can be redeemed for various goods/ services offered for sale by the Sellers.
                    </p>
                    <p>
                        We have implemented reasonable security practices and procedures that are commensurate with the information assets being protected and with the nature of our business. While we try our best to provide security that is commensurate with the industry standards, because of the inherent vulnerabilities of the internet, we cannot ensure or warrant complete security of all information that is being transmitted to us by you.
                    </p>
                    <p>
                        For the purpose of providing the Services and for other purposes identified in this Privacy Policy, <b>YewMedMart</b> will be required to collect and host certain data and information of the Users. <b>YewMedMart</b> is committed to protecting the Personal Information of the Users and takes all reasonable precautions for maintaining confidentiality of the User’s Personal Information. This Privacy Policy has been designed and developed to help you understand the following:
                    </p>
                    <p>
                       The type of Personal Information (including Sensitive Personal Data or Information) that <b>YewMedMart</b> collects from the Users;<br>
                       The purpose of collection, means and modes of usage of such Personal Information by <b>YewMedMart</b>;<br>
                       How and to whom <b>YewMedMart</b> will disclose such information;<br>
                       How <b>YewMedMart</b> will protect the Personal Information including Sensitive Personal Data or Information that is collected from the Users; and<br>
                       How Users may access and/ or modify their Personal Information.
                    </p>
                    <p>
                       This Privacy Policy shall apply to the use of the Website by all Users / Sellers. Accordingly, a condition of each User's use of and access to the Website and to the other services provided by Yewmed to Users is their acceptance of this Privacy policy. Any User is required to read and understand the provisions set out herein prior to submitting any Sensitive Personal Data or Information to <b>YewMedMart</b>, failing which they are required to leave the Website immediately.
                    </p>
                    <p>
                       This Privacy Policy is published in compliance of the <b1>(Indian) Information Technology Act, 2000</b1> and the rules, regulations, guidelines and clarifications framed thereunder, including the <b1>(Indian) Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or</b1> 
                    </p>
                </div>

                <div class="terms_cond_1st_div">
                    <h3> What is the personal information?: </h3> 
                    <p>
                        Personal Information” means any information that relates to a natural person, which, either directly or indirectly, in combination with other information available with <b>YewMedMart</b>, is capable of identifying the person concerned.
                    </p>
                    <p>
                        “Sensitive Personal Data or Information” means Personal Information of any individual relating to password; financial information such as bank account or credit card or debit card or other payment instrument details; physical, physiological and mental health condition; sexual orientation; medical records and history; biometric information; any detail relating to the above as provided to or received by YewMedMart for processing or storage. However, any data/ information relating to an individual that is freely available or accessible in public domain or furnished under the <b1>Right to Information Act, 2005</b1> or any other law shall not qualify as Sensitive Personal Data or Information.
                    </p>
                </div>

                <div class="terms_cond_1st_div">
                    <h3> Types of personal information collected by YewMedMart: </h3>
                    <p>
                        A User may have limited access to the Website and utilize some of the Services provided by YewMedMart without creating an account on the Website. Unregistered Users can access some of the information and details available on the Website. In order to have access to all the features and benefits on our Website, a User may be required to first create an account on our Website. As part of the registration process, <b>YewMedMart</b> may collect the following categories of Personal Information from the Users (hereinafter collectively referred to as “User Information”):
                    </p>
                    <p>
                        Name; <br>
                        User ID; <br>
                        Email address; <br>
                        Address (including country and ZIP/postal code); <br>
                        Gender; <br>
                        Age; <br>
                        Phone Number; <br>
                        Password chosen by the User; <br>
                        Valid financial account information; and <br>
                        Other details as the User may volunteer.
                    </p>
                    <p>
                        In order to avail the Services, the Users may be required to upload copies of their prescriptions, on the Website and/ or e-mail the same to <b>YewMedMart</b> in accordance with the Terms of Use and the prescriptions will be stored/ disclosed by <b>YewMedMart</b> only in the manner specified in this Privacy Policy and the Terms of Use. The term “User Information” shall also include any such prescriptions uploaded or otherwise provided by Users.
                    </p>
                    <p>
                        <b>YewMedMart</b> may keep records of telephone calls received and made for making inquiries, orders, or other purposes for the purpose of administration of Services.
                    </p>
                    <p>
                        Internet use: YewMedMart may also receive and/or hold information about the User’s browsing history including the URL of the site that the User visited prior to visiting the website as well as the Internet Protocol (IP) address of each User's computer (or the proxy server a User used to access the World Wide Web), User's computer operating system and type of web browser the User is using as well as the name of User's ISP. The Website uses temporary cookies to store certain data (that is not Sensitive Personal Data or Information) that is used by YewMedMart and its service providers for the technical administration of the Website, research and development, and for User administration.
                    </p>
                    <p>
                        The Website may enable User to communicate with other Users or to post information to be accessed by others, whereupon other Users may collect such data. YewMedMart hereby expressly disclaims any liability for any misuse of such information that is made available by visitors in such a manner.
                    </p>
                    <p>
                        <b>YewMedMart</b> does not knowingly collect Personal Information from children.
                    </p>
                    <p>
                        <b>YewMedMart</b> may in future include other optional requests for information from the User including through user surveys in order to help <b>YewMedMart</b> customize the Website to deliver personalized information to the User and for other purposes are mentioned herein. Such information may also be collected in the course of contests conducted by <b>YewMedMart</b>. Any such additional Personal Information will also be processed in accordance with this Privacy Policy.
                    </p>
                </div> 



                <div class="terms_cond_1st_div">
                    <h3> Purposes for which your information may be used by YewMedMart: </h3>
                    <p>
                        <b>YewMedMart</b> will retain User Information only to the extent it is necessary to provide Services to the Users. The information which YewMedMart collects from you may be utilized for various business and/or regulatory purposes including for the following purposes:
                    </p>
                    <p>
                        Registration of the User on the Website;
                    </p>
                    <p>
                        Processing the User’s orders / requests and provision of Services (including provision of safe Services);
                    </p>
                    <p>
                        Completing transactions with Users effectively and billing for the products/ Services provided;
                    </p>
                    <p>
                        Processing the User’s orders / requests and provision of Services (including provision of safe Services);
                    </p>
                </div>       


            </div>
        </div>
    </div>
</div>
        