<!-- <p style="margin-top:100px"> <b>  Aniket Daw </b> </p> -->

<div>
           <style type="text/css">
              .header_border_bottom{
                 border-bottom:1px solid #e5e5e5;
              }
           </style>
        </div>

<div id="mobile_view_opacity" onclick="off_opacity()">
	
    <div class="wrapper body-bg" style="padding:0px 15px">
        <div class="all_page_middle_div">
                <ol class="breadcrumb breadcrumb-list all_page_bitcome">
                    <li class="breadcrumb-item"><a href="{{contextpath1}}" class="everypge_topic_a">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">shop</a></li> -->
                    <li class="breadcrumb-item active" style="cursor:default">Prescription Order</li>
                </ol>
        </div>

        <div class="login white-bg ptb-80">
            <div class="container" style="text-align:center">
                        <p> <img src="/yewmed/themes/img/yewmed_new_pics/startup1.png"> </p> <br>
                        <h1 style="font-family:'Poppins', sans-serif;margin-top:20px"> We're Coming Soon </h1> <br>
                        <p style="font-size:20px;line-height:30px"> We are currently working on this part. We will be launching soon. <br>   For any query <a href="{{contextpath}}/contactus" style="color:#f26222;font-weight:700"> Contact </a> with us  </p>
                      </div>  
                 </div>
                 
            </div>
        </div>
        