<!-- <p style="margin-top:100px"> <b>  Aniket Daw </b> </p> -->

<div class="mobile_view_opacity" onclick="off_opacity()">

   <div>
           <style type="text/css">
              .header_border_bottom{
                 border-bottom:1px solid #e5e5e5;
              }
           </style>
        </div>


    <div class="container-fluid">
       <!--  <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="/yewmed/">Home</a></li>
                    <li class="breadcrumb-item"><a href="terms-conditions">Terms & Conditions</a></li>
                </ol>
            </div>
        </div> -->

       <div class="all_page_middle_div">
                <ol class="breadcrumb breadcrumb-list all_page_bitcome">
                    <li class="breadcrumb-item"><a href="{{contextpath1}}" class="everypge_topic_a">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">shop</a></li> -->
                    <li class="breadcrumb-item active" style="cursor:default">Cancellation, Return & Refund Policy</li>
                </ol>
            </div>



 


<div class="all_page_middle_div">
            <div>
                <h3 class="register-header" style="margin-bottom:10px;text-transform:uppercase"> Cancellation, Return & Refund Policy</h3>
                <div class="terms_cond_1st_div"> 
                    
                   www.yewmedmart.in  is online medicine ordering platform connecting the neighborhood pharmacies which are registered with the platform and also contracted with us, using our Pharmacies ERP.   
                      <p> •	We assure you that all items & medicine ordered on the platform are from licensed local pharmacies which comply to the rules & guidelines of the government. </p>
                    <p>•	All order fulfillmentsare done through professional checking as per the drug licenses provided to the pharmacies against the prescriptions verification.  </p>
                     <p>•	The order packing for delivery is being done under CCTV camera supervision to avoid any dispute. </p>
                    <p>•	All medicines/goods delivered is also registered with receivers’ digital signature.
Every dispute/Claim related to ERROR in delivery of items isfully investigated by our claims section</p>



        <div class="all_page_middle_div">
            <div>
                <h3 > Returns & Cancellations:</h3>
                <div class="terms_cond_1st_div"> 
                    <p>The returns are subject to the below conditions:- </p>
                    </div>
                
               




                <div class="terms_cond_1st_div">
                    <p> •	Wrong ordering of product Do Not qualify for Return. </p>
                    <p> •	Requests arising due to change in prescription Do Not qualify for Return.</p>
                    <p>
•	Partially consumed strips or products Do Not qualify for Return, only fully unopened/uncut strips or products can be returned. </p>
                    <p> •	Batch number of the product being returned should match as mentioned on the invoice.</p>
                    <p>
•	Product being returned should only be in their original manufacturer's packaging i.e. with original price tags, labels, bar-code and invoice.  </p>
                     <h3> Category of Non-Returnable Product: </h3> 
                     <p>
                        Items under the following category as Home Care,Health Drinks, Personal Care, Devices and Temperature controlled and specialty medicine is Not-Returnable.
                    </p>
                     <h3>Cancellation Policy: </h3> 
                     <p>
                        •	Due to any reason, customer wants to cancel an order, he/she can do this before we ship/dispatch/process/accept the order.
                    </p>
                    
                     <h3>To Cancel an ORDER: </h3> 
                     <p>
                        •	Log into yewmedmart.in account and go to MyAccount --> Order history </p>
                    <p>•	Select the order to cancel and then Click on Cancel button against the order.</p>
                    
                   




                    
                      <h3>  How to return an item?</h3> 
                    <p> 1.	Please call us at 98365-97619 during the following office hours (Open 10 AM - 7 PM from Monday – Saturday & 8 AM - 5 PM on Sunday).</p>
                     <p>2.	yewmedmart customer care team will verify the claim made by the customer within 72 (seventy-two) business hours from the time of receipt of complaint. </p>
                     <p>3.	Once the claim is verified as genuine and reasonable, yewmedmart will initiate the collection of product(s) to be returned from the original order delivered location. </p>
                     <p>4.	The customer will be required to pack the product(s) in original manufacturer’s packaging. </p>
                     <p> 
5.	Refund process will be completed within 30 (thirty) days from date of reverse pick up (if required).</p>
                    
                    <h3> Refund Policy: </h3> 
                     <p>Refund will be processed to the customer in the following cases: </p>
                     <p>1.	Prepaid orders: Orders which are cancelled by Customer before ship/dispatch/process/accept, refund will be initiated automatically </p>
                     <p>
2.	Prepaid orders and Returned: if for any reason, customer returns part/full of the order within 7 days after the receiving of products, refund will be generated automatically </p>
                    <p>
3.	COD orders: in the case of COD orders, return will be approved only after thorough examination of the products delivered. Exchange is allowed within 90(Ninety) days after the invoice is generated.In this case, discretion of the company to allow return either partially or fully will be final.  </p>
                                        

                    
                   






                    
                    
                    
                     <p>
                        The mode of refund will be by way of credit to the original mode of payment – Credit/Debit Card, or Net banking or Third Party Walletwithin 10 to 15 working days after the refund is generated.
                    </p>
                    <p>The above conditions & policies are subject to changes based on company discretion. </p>

                    
                   
                </div>

            
                




            </div>
        </div>
    </div>
</div>
        