

<div class="row mobile_view_opacity" ng-controller="searchBaseItemController as ctrl" style="margin-right:0px;margin-left:0px" onclick="off_opacity()">
 <div>
           <style type="text/css">
              .header_border_bottom{
                 border-bottom:1px solid #e5e5e5;
              }
              .col-an-2 {
              	width:20%;
              	padding: 5px
              }
              p:focus, img:focus{
              	border:0px ;
              }
              .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
                    z-index: 3;
                    color: #fff;
                    cursor: default;
                    background-color: #f26222;
                    border-color: #f26222;
                }
                .pagination>li>a, .pagination>li>span {
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    margin-left: -1px;
                    line-height: 1.42857143;
                    color: #f26222;
                    text-decoration: none;
                    background-color: #fff;
                    border: 1px solid #ddd;
                }
                .pagination li a:hover{
                    background:#f26222a1;
                    border-color:#f26222a1
                }
                .order_Table tr:nth-child(even){
                    background:#dee2e6
                } 

              @media only screen and (max-width: 1200px) {
              	.col-an-2 {
	              width:25%;
	              padding: 5px
                }
              }

              @media only screen and (max-width: 991px) {
              	.col-an-2 {
	              width:33.33%;
	              padding: 5px
                }
              }

              @media only screen and (max-width: 675px) {
              	.col-an-2 {
	              width:50%;
	              padding: 5px
                }
              }

              @media only screen and (max-width: 510px) {
              	.col-an-2 {
	              width:100%;
	              padding: 5px
                }
              }
           </style>
        </div>

	<!-- <div class="col-as-3"> </div> -->
        <!-- Breadcrumb Area Start Here -->
        <div class="container-fluid">


        <!-- <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="/yewmed/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">shop</a></li>
                    <li class="breadcrumb-item active">Groups</li>
                </ol>
            </div>
        </div> -->


        <div class="all_page_middle_div">
                <ol class="breadcrumb breadcrumb-list all_page_bitcome">
                    <li class="breadcrumb-item"><a href="{{contextpath1}}" class="everypge_topic_a">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">shop</a></li> -->
                    <!-- <li class="breadcrumb-item"> <a href="/yewmed/category" class="everypge_topic_a">{{cate_name}} </a> </li> -->
                    <li class="breadcrumb-item active" style="cursor:default">Search Items</li>
                </ol>
            </div>





        <div class="all_page_middle_div all_page_header" style="margin-top:40px">
	     <h3 class="all_page_header_h3"> Search for "{{serachItemdata}}" 
           
	     </h3>
	     <hr>
	    </div>

 

	<div class="span9">
		<div id="myTabContent" class="tab-content">
		<!--class="tab-pane fade active in"  -->
			
			 
			
				   <!-- class="tab-pane" -->
				   <!-- {{aniket}}
				   {{logctrl.itemGroupWise.length}} -->
				   <div ng-if="serachbaseitem.length ==0" style="text-align:center"><img src="themes/img/nodata.jpeg" 
								style="max-width: 100%;" /></div>
				   <div ng-if="serachbaseitem.length >0" class="all_page_middle_div"> 
					<div  class="row" id="listView1" infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-disabled="scrollStatus">
					<!-- <div ng-repeat="rp in logctrl.itemGroupWise | orderBy: order"> -->
					<div ng-repeat="rp in copy_items | limitTo:limit" class="col-an-2">


                        <div class="groups_product_div">

                            <p style="text-align:center;padding:40px 0px 30px 0px;cursor:pointer;"  ng-click="ctrl.viewItems(rp.id,rp.groupId,rp.group,rp.category,rp.categoryId)">  <!-- <img src="themes/img/yewmed_new_pics/product/tablet.jpg"> -->
                            <img src="/yewmed/themes/img/yewmed_new_pics/product2/{{rp.groupId}}.jpg"> </p>  
                            <div class="groups_product_div_div" ng-click="ctrl.viewItems(rp.id,rp.groupId,rp.group,rp.category,rp.categoryId)">
                            <p class="groups_product_name"> {{rp.name}} </p>
                            <p style="font-size:14px;margin-top:-3px;color:#424242"> contains {{rp.conversion}} Qty in a pack </p>
                            </div>
                            <div class="row" style="margin-left:-15px;margin-right:-15px">
                            	<div class="col-md-6 col-sm-6 col_xs_6" style="font-size:10px;color:#424242"> 
                            		<p style="font-size:12px;color:#424242">  MRP </p> 
                            		<p style="margin-top:-4px"><img src="/yewmed/themes/img/yewmed_new_pics/product/checkout_price.png" style="position:relative;top:-4px"> <span style="font-size:18px;color:#424242"> {{rp.price | number:2}} </span> </p>
                            	</div>
                            	<div class="col-md-6 col-sm-6 col_xs_6" style="text-align:right"> 

                                      <i class="fa fa-heart-o groups_addtocart_button_i" ng-click="ctrl.addItemsInWishList(rp.id)"></i> 
                                   </div>
                        </div>
					   </div>
					</div>
				</div>
				<br class="clr">

     <div ng-if="serachbaseitem.length != 0" style="text-align:right;margin-top:20px">
     <nav aria-label="Page navigation" align="left" style="display:inline-block">
                    <ul class="pagination">
                        <li ng-class="{disabled:!navigators.prev.state}">
                            <a aria-label="Previous" ng-click="prev()" >
                              <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li ng-repeat="page in pages" ng-class="{active:page.active}" ng-disabled="page.active">
                            <a  ng-click="setPageActive(page.page)" >{{page.page}}</a>
                        </li>
                        <li ng-class="{disabled:!navigators.next.state}">
                            <a aria-label="Next" ng-click="next()">
                               <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
              </div>
			
		</div>
	</div>
</div>



</div>



</div>

