<!-- <p style="margin-top:100px"> <b>  Aniket Daw </b> </p> -->

<div>
    <div class="wrapper body-bg mobile_view_opacity" ng-controller="ContactController" onclick="off_opacity()">

        <div>
           <style type="text/css">
              .header_border_bottom{
                 border-bottom:1px solid #e5e5e5;
              }
           </style>
        </div>

       <!--  <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="/yewmed/">Home</a></li>
                    <li class="breadcrumb-item"><a href="terms-conditions">Terms & Conditions</a></li>
                </ol>
            </div>
        </div> -->

        <div style="padding:10px 15px"> 
            <div class="all_page_middle_div">
                <ol class="breadcrumb breadcrumb-list all_page_bitcome">
                    <li class="breadcrumb-item"><a href="{{contextpath1}}" class="everypge_topic_a">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">shop</a></li> -->
                    <li class="breadcrumb-item active" style="cursor:default">User Privacy</li>
                </ol>
            </div>
        </div>


        <div class="login white-bg all_page_middle_div_above">
            <div class="all_page_middle_div">
                <h3 class="register-header" style="margin-bottom:10px"> USER PRIVACY </h3>
                <div class="terms_cond_1st_div">
                     <h3 style="margin-top:40px"> Privacy Policy </h3> 
                    <p>
                      <b>Yewmedmart</b>, the owner and operator of yewmed.com have some policy which is maintained by our Owners. Users have to maintain terms & conditions , Delivery ploicy , Legal Notice which are mentioned in our site.
                    </p>
                    <p>
                      The Website is a platform that provide facility the purchase of pharmaceutical products for purchase from our own store. 
                    </p>
                    <p>
                      We have implemented responsible security for our website that our users information is protected. we also maintain nature of a business. We are trying our best to provide best security and service to our users and make the website user friendly. We can't fully assure that we are giving 100% security of the data that you have provided to us. 
                    </p>
                    <p>
                      The privacy policy is applicable for all users. whom are accessing our website, have to read and maintain all the policy of our website. Otherwise have to leave immediately.   
                    </p>
                    <p>
                      This Privacy Policy is published in compliance of the (Indian) Information Technology Act, 2018 and the rules, regulations, guidelines and clarifications framed thereunder, including the (Indian) Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2018.
                    </p>
                </div>

                <div class="terms_cond_1st_div">
                    <h3> Personal Infomation </h3> 
                    <p>
                      <b>Yewmedmart</b>, the owner and operator of yewmed.com have some policy which have to maintained by our users. Users have to maintain terms & conditions , Delivery ploicy , Legal Notice which are mentioned in our site.
                    </p>
                    <p>
                      <b>Yewmedmart</b> respect your privacy and your faith upon us. We can assure you that our privacy is very secure. We are using paypal & mastard card for online purchase, which is very secure for our country as well as all over the world.
                    </p>
                    <p>
                      When you register in our site, the data is stored in our database. We don't share our database to otehrs. So your personal infoprmation is safe for lifetime.
                    </p>
                    <p>
                      We are using Paypal & Mastar Card for online transaction. Those are very secure for online transaction. You can keep faith upon us that we don't share any personal information to others for business purpose or some another reason.
                    </p>
                </div>

                <div class="terms_cond_1st_div">
                     <h3> Cookies </h3> 
                     <p>
                      Cookies is an HTTP cookie (also called web cookie, Internet cookie, browser cookie, or simply cookie) is a small piece of data sent from a website and stored on the user's computer by the user's web browser while the user is browsing. So If You want to get updated sites please clear your website cookies.
                    </p>
                </div>

               <!-- <a href="https://www.w3schools.com/images/myw3schoolsimage.jpg" download>
  aaaaaaaaaaa
</a> -->
            

            </div>
        </div>
    </div>
</div>
        